<!-- Reviews -->
<section class="reviews section">
  <div class="container">
    <h2 class="visual-hidden">Reviews</h2>
    <div class="carousel">
      <div class="carousel__item">
        <div class="reviews__thumb">
          <picture>
            <source
              srcset="
                ./images/reviews/userpic0.jpg   1x,
                ./images/reviews/userpic0@2.jpg 2x
              "
              type="image/jpg"
            />
            <source
              srcset="
                ./images/reviews/userpic0.webp   1x,
                ./images/reviews/userpic0@2.webp 2x
              "
              type="image/webp"
            />
            <img
              class="reviews__picture"
              src="./images/reviews/userpic0.jpg"
              alt="Main reviewer's photo"
              width="85"
            />
          </picture>
          <div class="reviews__card">
            <div class="reviews__text-lines">
              <p class="reviews__text">
                Beautiful ice cream, Mango flavoured and creamy.... with real
                mango pieces in between.Its a perfect tropical ice cream and the
                taste is just lovely.
              </p>
            </div>
          </div>
          <p class="reviews__name">Mia, Boston</p>
        </div>
      </div>
      <div class="carousel__item">
        <div class="reviews__thumb">
          <picture>
            <source
              srcset="
                ./images/reviews/userpic1.jpg   1x,
                ./images/reviews/userpic1@2.jpg 2x
              "
              type="image/jpg"
            />
            <source
              srcset="
                ./images/reviews/userpic1.webp   1x,
                ./images/reviews/userpic1@2.webp 2x
              "
              type="image/webp"
            />
            <img
              class="reviews__picture"
              src="./images/reviews/userpic1.jpg"
              alt="First reviewer's photo"
              width="85"
            />
          </picture>
          <div class="reviews__card">
            <div class="reviews__text-lines">
              <p class="reviews__text">
                Eating ice cream makes me happy. It’s a mouth-watering dessert
                for everyone. They many flavors in India that offers ice creams
                in form of cone, cup, stick etc.
              </p>
            </div>
          </div>
          <p class="reviews__name">Daria, Los Angeles</p>
        </div>
      </div>
      <div class="carousel__item">
        <div class="reviews__thumb">
          <picture>
            <source
              srcset="
                ./images/reviews/userpic2.jpg   1x,
                ./images/reviews/userpic2@2.jpg 2x
              "
              type="image/jpg"
            />
            <source
              srcset="
                ./images/reviews/userpic2.webp   1x,
                ./images/reviews/userpic2@2.webp 2x
              "
              type="image/webp"
            />
            <img
              class="reviews__picture"
              src="./images/reviews/userpic2.jpg"
              alt="Second reviewer's photo"
              width="85"
            />
          </picture>
          <div class="reviews__card">
            <div class="reviews__text-lines">
              <p class="reviews__text">
                whenever I eat it I feel as if I have entered heaven.it is so
                relaxing so soothing experience to enjoy it that my whole body
                is lost in some other world. must try
              </p>
            </div>
          </div>
          <p class="reviews__name">Olexandr, Pasadena</p>
        </div>
      </div>
      <div class="carousel__item">
        <div class="reviews__thumb">
          <picture>
            <source
              srcset="
                ./images/reviews/userpic3.jpg   1x,
                ./images/reviews/userpic3@2.jpg 2x
              "
              type="image/jpg"
            />
            <source
              srcset="
                ./images/reviews/userpic3.webp   1x,
                ./images/reviews/userpic3@2.webp 2x
              "
              type="image/webp"
            />
            <img
              class="reviews__picture"
              src="./images/reviews/userpic3.jpg"
              alt="Third reviewer's photo"
              width="85"
            />
          </picture>
          <div class="reviews__card">
            <div class="reviews__text-lines">
              <p class="reviews__text">
                my personal top ice cream store, if you like ic like i am then
                please don't sit just like this in your home go to market and
                enjoy all the tasty they have.
              </p>
            </div>
          </div>
          <p class="reviews__name">Svitlana, New York</p>
        </div>
      </div>
    </div>
  </div>
</section>
