<!-- Reviews -->
<section class="reviews section">
  <div class="container">
    <h2 class="visual-hidden">Reviews</h2>
    <div class="carousel">
      <div class="carousel__item">
        <div class="reviews__thumb">
          <picture>
            <source
              srcset="
                ./images/reviews/userpic1.jpg   1x,
                ./images/reviews/userpic1@2.jpg 2x
              "
              type="image/jpg"
            />
            <source
              srcset="
                ./images/reviews/userpic1.webp   1x,
                ./images/reviews/userpic1@2.webp 2x
              "
              type="image/webp"
            />
            <img
              class="reviews__picture"
              src="./images/reviews/userpic1.jpg"
              alt="First reviewer's photo"
              width="85"
            />
          </picture>
          <div class="reviews__card">
            <div class="reviews__text-lines">
              <p class="reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="reviews__name">Emily, Los Angeles</p>
        </div>
      </div>
      <div class="carousel__item">
        <div class="reviews__thumb">
          <picture>
            <source
              srcset="
                ./images/reviews/userpic2.jpg   1x,
                ./images/reviews/userpic2@2.jpg 2x
              "
              type="image/jpg"
            />
            <source
              srcset="
                ./images/reviews/userpic2.webp   1x,
                ./images/reviews/userpic2@2.webp 2x
              "
              type="image/webp"
            />
            <img
              class="reviews__picture"
              src="./images/reviews/userpic2.jpg"
              alt="Second reviewer's photo"
              width="85"
            />
          </picture>
          <div class="reviews__card">
            <div class="reviews__text-lines">
              <p class="reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="reviews__name">Cindy, Pasadena</p>
        </div>
      </div>
      <div class="carousel__item">
        <div class="reviews__thumb">
          <picture>
            <source
              srcset="
                ./images/reviews/userpic3.jpg   1x,
                ./images/reviews/userpic3@2.jpg 2x
              "
              type="image/jpg"
            />
            <source
              srcset="
                ./images/reviews/userpic3.webp   1x,
                ./images/reviews/userpic3@2.webp 2x
              "
              type="image/webp"
            />
            <img
              class="reviews__picture"
              src="./images/reviews/userpic3.jpg"
              alt="Third reviewer's photo"
              width="85"
            />
          </picture>
          <div class="reviews__card">
            <div class="reviews__text-lines">
              <p class="reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="reviews__name">Emma, New York</p>
        </div>
      </div>
    </div>
  </div>
</section>
