.gallery {
    background-image: linear-gradient(to bottom, var(--bg-color-light) 20%, #ffffff 20%);

    &__grid {
        max-width: 320px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr) 2fr repeat(3, 1fr);

        gap: 2.5px;

    }

    &__item {
        display: grid;
        grid-template-rows: auto auto 1fr;
        gap: 2.5px;
        
        &:nth-child(1) {
            padding-top: 45px;
        }

        &:nth-child(2) {
            padding-top: 28px;
        }

        &:nth-child(4) {
            padding-top: 31px;
        }

        &:nth-child(5) {
            padding-top: 21px;
        }

        &:nth-child(6) {
            padding-top: 50px;
        }
    }

    &__img {
        border-radius: 8px;
        transition: transform var(--transition-prop);

        // доделать анимацию по ховеру, например, так
        
        //@include desktop() {
            
        //     &:hover {
        //         transform: scale(110%);
        //         z-index: 10;
        //     }
        // }
    }

}